<div class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <h2 class="title is-3 is-spaced has-text-centered">Microverse-Eventbrite Create Event</h2>
          <%= render 'form', event: @event %>
        </div>
      </div>
    </div>
  </div>